---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="關於我"
	description="無痕美學診所位於台北大安區，由林菀玲院長帶領專業團隊，提供醫美諮詢與療程服務。"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		無痕美學診所位於台北大安區，由林菀玲院長帶領專業團隊，提供醫美諮詢與療程服務。我們秉持「減法思維」，重視自然、健康與安全，並透過這個部落格分享實用的醫美衛教知識。
	</p>
</Layout>
