---
import ConsultCTA from './ConsultCTA.astro';
const today = new Date();
---

<footer>
	<ConsultCTA />
	<p class="copyright">&copy; {today.getFullYear()} 無痕美學診所 版權所有。</p>
</footer>
<style>
	footer {
		padding: 3em 1em 5em 1em;
		background: var(--bg);
		border-top: 1px solid rgb(var(--gray-light));
		color: rgb(var(--gray));
		text-align: center;
	}
	.copyright {
		margin: 3rem 0 0;
	}
</style>
